body{
    background-color: black;
}
.table{
    border: solid 10px gold;
    border-radius: 50%;
    background-color: blue;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 3vh;    
}
.controlBox{
    border: solid white 2px;
    height: 20vh;
    width: 95vw;
    margin-left: 2vw;
}
.dealer{
border: solid white 1px;
height: 12vh;
width: 50vw;
margin-left: 20vw;
display: flex;
flex-direction: row;
justify-content: space-around;
}
#dealerCards img {
    border: solid black 1px;
    height: 10vh;
    width: 8vw;
    margin: 5px;
}
.player{
    border: solid red 1px;
    height: 12vh;
    width: 50vw;
    margin-left: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#playerCards img {
    border: solid black 1px;
    height: 10vh;
    width: 8vw;
    margin: 5px;
}
.card{
    border: solid black 1px;
    height: 10vh;
    width: 5vw;
}
.controlBox{
    display: flex;
    justify-content: space-around;
}
.newGame{
    height: 10vh;
    width: 10vw;
    font-size: 25px;
}
.hit{
    height: 10vh;
    width: 10vw;
    font-size: 25px;
}
.stay{
    height: 10vh;
    width: 10vw;
    font-size: 25px;
}