body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    }
.hud{
    border: solid white 1px;
    height: 10vh;
    width: 90vw;
    margin-left: 5vw;
    color: white;
    font-size: xx-large;
    display: flex;
    justify-content: space-around;
}
.health{
    border: solid green 1px;
    height: 10vh;
    width: 200px;
}
.cannons{
    border: solid red 1px;
    height: 10vh;
    width: 200px;
}
.space{
    background-image: url(https://thumbs.gfycat.com/RemoteImpishBlackbear-size_restricted.gif);
    background-size: cover;
    height: 60vh;
    width: 80vw;
    margin-top: 3vh;
    margin-left: 9vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#aliens{
    /* border: solid red 1px; */
    height: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#nme{
    height: 60%;
}
#player{
    /* border: solid blue; */
    height: 10vh;
    width: 7vw;  
    align-self: center;
}
#ship{
    height: 10vh;
    width: 7vw;    
}
.controleBox{
    border: solid rgb(12, 164, 146) .5px;
    height: 15vh;
    width: 70vw;
    margin-left: 15vw;
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
}
.newGame{
    border: solid rgb(12, 164, 146) 1px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50%;
    border-radius: 22px;
    display: flex;
    text-align: center;
    align-items: center;  
}
.newGame:hover{
    border: solid white 1px;
    background-color: rgb(12, 164, 146);
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    height: 50%;
    border-radius: 22px;
    display: flex;
    text-align: center;
    align-items: center;
   
}
#infoBox{
    border: solid white;
    height: 10vh;
    width: 50vw;
    margin-left: 25vw;
    color: rgb(244, 29, 147);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}
.fight{
    border: solid rgb(12, 164, 146) 1px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50%;
    border-radius: 22px;
    display: flex;
    text-align: center;
    align-items: center;  
}
.fight:hover{
    border: solid white 1px;
    background-color: rgb(12, 164, 146);
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    height: 50%;
    border-radius: 22px;
    display: flex;
    text-align: center;
    align-items: center;  
}
.keepFighting{
    border: solid rgb(12, 164, 146) 1px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50%;
    border-radius: 22px;
    display: flex;
    text-align: center;
    align-items: center;  
}
.keepFighting:hover{
    border: solid white 1px;
    background-color: rgb(12, 164, 146);
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    height: 50%;
    border-radius: 22px;
    display: flex;
    text-align: center;
    align-items: center;  
}
.fight{
    border: solid rgb(12, 164, 146) 1px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50%;
    border-radius: 22px;
    display: flex;
    text-align: center;
    align-items: center;  
}
.fight:hover{
    border: solid white 1px;
    background-color: rgb(12, 164, 146);
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    height: 50%;
    border-radius: 22px;
    display: flex;
    text-align: center;
    align-items: center;  
}
.retreat{
    border: solid rgb(12, 164, 146) 1px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50%;
    border-radius: 22px;
    display: flex;
    text-align: center;
    align-items: center;  
}
.retreat:hover{
    border: solid white 1px;
    background-color: rgb(12, 164, 146);
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    height: 50%;
    border-radius: 22px;
    display: flex;
    text-align: center;
    align-items: center;  
}
#rechargeShields{
    border: solid rgb(12, 164, 146) 1px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50%;
    border-radius: 22px;
    display: flex;
    text-align: center;
    align-items: center;  
}
#rechargeShields:hover{
    border: solid white 1px;
    background-color: rgb(12, 164, 146);
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    height: 50%;
    border-radius: 22px;
    display: flex;
    text-align: center;
    align-items: center;  
}
#upgradeHull{
    border: solid rgb(12, 164, 146) 1px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50%;
    border-radius: 22px;
    display: flex;
    text-align: center;
    align-items: center;  
}
#upgradeHull:hover{
    border: solid white 1px;
    background-color: rgb(12, 164, 146);
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    height: 50%;
    border-radius: 22px;
    display: flex;
    text-align: center;
    align-items: center;  
}
#upgradeCannons{
    border: solid rgb(12, 164, 146) 1px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50%;
    border-radius: 22px;
    display: flex;
    text-align: center;
    align-items: center;  
}
#upgradeCannons:hover{
    border: solid white 1px;
    background-color: rgb(12, 164, 146);
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    height: 50%;
    border-radius: 22px;
    display: flex;
    text-align: center;
    align-items: center;  
}
